.panel.selected {
    opacity: 1;

}

.panel {
    opacity: 0;

}

#screen {
    background-image : url(../img/sceneBackground.jpg);

}


#playButton {
    position : absolute;
    left : 50%;
    bottom : 60%;
    background-color: rgba(0,0,240,0.4);
    font-family: gun4fc, sans-serif;
    color: white;
}

#scoresButton {
    position : absolute;
    margin : auto;
    left : 50%;
    bottom : 40%;
    background-color: rgba(0,0,240,0.4);
    font-family: gun4fc, sans-serif;
    color: white;

}



